body {
	overflow: hidden;
}

.point1, .point2 i, .point3, .point4, .mark, .remark {
	color: #fff;
	font: 12px/15px Hei, \5fae\8f6f\96c5\9ed1;
	text-align: center;
	width: 82px;
	height: 56px;
	padding: 26px 0 0;
	margin: -41px 0 0 -41px;
	background: url(../images/map.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.point1:hover {
	background-position: 0 -82px;
}

.point2 i {
	display: block;
	width: 46px;
	height: 46px;
	padding: 0;
	margin: -23px 0 0 -23px;
	line-height: 46px;
	background-position: 0 -164px;
}

.point2 i:hover {
	background-position: 0 -210px;
}

.point2 b {
	color: #fff;
	background: #5963d4;
	font: 12px/16px Hei, \5fae\8f6f\96c5\9ed1;
	margin: 0 0 0 -50%;
	text-align: center;
	border-radius: 3px;
	padding: 0 4px;
}

.point3, .point4 {
	line-height: 36px;
	width: 36px;
	height: 36px;
	padding: 0;
	margin: -18px 0 0 -18px;
	background-position: -46px -164px;
}

.point3:hover {
	background-position: -46px -200px;
}

.point4 {
	background-position: -46px -236px;
}

.point4:hover {
	background-position: -0 -256px;
}

.msg {
	display: none;
	position: absolute;
	z-index: 9;
	padding: 30px 40px;
	border-radius: 5px;
	color: #666;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.msg .Close, .info .Close {
	position: absolute;
	top: 4px;
	right: 4px;
}

.msg .Close:hover, .info .Close:hover {
	background-position: -15px -471px;
}

.mark {
	background-position: -62px -272px;
	width: auto;
	height: 67px;
	cursor: default;
	text-align: left;
	padding: 0 0 0 20px;
	margin: -64px 0 0 -9px;
}

.mark i {
	position: absolute;
	border: 1px solid #2733b3;
	border-left: 0;
	background: #4b5bcc;
	height: 22px;
	line-height: 22px;
	padding: 0 9px 0 6px;
}

.info {
	font: 12px/28px Hei, \5fae\8f6f\96c5\9ed1;
	color: #333;
	padding: 16px 16px 8px;
	width: 312px;
	position: absolute;
	left: -172px;
	bottom: 28px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	cursor: default;
}

.info img {
	float: left;
	width: 90px;
	height: 54px;
}

.info dl {
	float: left;
	width: 196px;
	height: 54px;
	padding: 0 8px;
	line-height: 18px;
}

.info dt {
	display: block;
	height: 36px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 2px;
	white-space: pre-wrap;
}

.info dd>b, .info a:hover, .info .page>b:hover, .info .page>i {
	color: #d83322;
}

.info ul {
	list-style: none;
	clear: both;
	margin: 0;
	padding: 9px 0 0;
}

.info .g {
	background: #f8f8f8;
}

.info a {
	display: block;
	height: 28px;
}

.info a>i {
	float: left;
	width: 70px;
	padding-left: 8px;
	overflow: hidden;
}

.info .Tr {
	padding: 0 8px 0 0;
}

.info>b {
	background: url(../images/map.png) no-repeat -37px -272px;
	width: 15px;
	height: 8px;
	position: absolute;
	left: 166px;
	bottom: -8px;
}

.info .page {
	border-top: 1px solid #eee;
	text-align: right;
	font-size: 14px;
	padding: 2px 2px 0;
}

.info .page>b {
	padding: 0 6px;
	cursor: pointer;
	font-weight: normal;
}

.info .page .disabled, .info .page .disabled:hover {
	color: #999;
	cursor: default;
}

.dot {
	background: url(../images/map.png) 0 -292px;
	position: absolute;
	width: 15px;
	height: 15px;
	top: -7px;
	left: -7px;
}

.sites {
	font: 12px/23px Hei, \5fae\8f6f\96c5\9ed1;
	color: #333;
	height: 36px;
	cursor: pointer;
	position: absolute;
	top: -33px;
	left: -6px;
	*left: 8px;
}

.sites>i {
	background: url(../images/map.png) no-repeat 0 -447px;
	display: inline-block;
	position: relative;
	height: 36px;
	vertical-align: top;
	text-indent: -14px;
}

.sites>.l {
	background-position: 0 -375px;
	width: 21px;
}

.sites>.r {
	background-position: right -519px;
	padding: 0 9px 0 17px;
	color: #1d267b;
	font-weight: bold;
}

.sites:hover>i {
	background-position: 0 -483px;
}

.sites:hover>.l {
	background-position: 0 -411px;
}

.sites:hover>.r {
	background-position: right -339px;
}

.remark {
	height: 22px;
	line-height: 22px;
	background: #e84a01;
	cursor: default;
	margin: 0 0 0 -4px;
	padding: 0;
	text-align: center;
	width: 64px;
	border-radius: 2px;
}