body {
	overflow: hidden;
}

#Top dl {
	width: auto;
	margin: 0 10px;
}

#sellSearch {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 12px;
	width: 386px;
	height: 98px;
	z-index: 970;
	background: #f7f7f7;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#sellSearch.more {
	height: 178px;
}

#sellSearch>.Pa {
	top: 45px;
	left: 10px;
	width: 364px;
}

.search {
	padding: 10px 0 0 10px;
	height: 40px;
	background: #fff;
	border-radius: 5px 5px 0 0;
}

.search>label {
	position: relative;
	float: left;
}

.search>label>input {
	width: 188px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
}

.search>label>.iconfont {
	color: #999;
	position: absolute;
	top: 1px;
	right: 1px;
	font-size: 24px;
	padding: 0 1px 0 2px;
	height: 26px;
	line-height: 28px;
	width: auto;
	background-color: #fff;
}

.search>label>.iconfont:hover {
	color: #333;
}

#Line, #Area {
	float: left;
	position: relative;
	width: auto;
}

#Line>h4, #Area>h4 {
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #666;
	margin-top: 3px;
	height: 22px;
	line-height: 22px;
}

#Line>h4:hover, #Area>h4:hover {
	color: #e84a01;
}

#Line>h4>.iconfont, #Area>h4>.iconfont {
	font-size: 20px;
	top: -1px;
}

#Area>h4 {
	border-left: 1px solid #ddd;
}

#Area>h4>.iconfont {
	font-size: 20px;
	top: -3px;
}

.shadow {
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ 
		repeat-x 0 -58px;
	clear: both;
	height: 5px;
}

#Filter {
	width: 374px;
	padding: 0 0 0 10px;
	position: absolute;
	top: 60px;
	left: 0;
}

#Filter select {
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding: 0;
	width: 72px;
	float: left;
	margin-right: 10px;
	vertical-align: middle;
}

#Filter>.Fl {
	display: none;
	height: 28px;
	line-height: 28px;
	width: 40px;
}

.Multi {
	float: left;
	position: relative;
}

.Multi>dl {
	width: 58px;
	height: 26px;
	padding: 0 6px;
	margin-right: 10px;
	line-height: 28px;
	background: #fff;
	color: #686e71;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid #ccc;
	position: relative;
}

.Multi.seled>dl {
	background: #686e71;
	color: #fff;
}

.Multi>dl>dt {
	float: left;
}

.Multi>dl i.iconfont, .Multi>dl>dd {
	background: #fff;
	position: absolute;
	right: 6px;
	top: 6px;
	height: 16px;
	line-height: 16px;
	border-radius: 1px;
}

.Multi>dl>dd {
	color: #686e71;
	width: 16px;
	text-align: center;
	display: none;
}

.Multi>.Dn {
	position: absolute;
	background: #fff;
	border: 1px solid #686e71;
	top: 29px;
	width: 76px;
}

.Multi>.Dn>label {
	display: block;
	height: 14px;
	padding: 0;
	margin: 6px 3px;
	line-height: 14px;
	background-position: -347px -1167px;
}

.Multi>.Dn>label:hover {
	color: #e84a01;
	background-position: -347px -1183px;
}

.Multi>.Dn>label.checked {
	background-position: -347px -1200px;
}

.Multi>.Dn>label>input[type=checkbox] {
	visibility: hidden;
}

#more {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

#more:hover {
	color: #e84a01;
}

.more #more {
	top: 88px;
}

.more #Filter .Fl {
	display: block;
	color: #999;
}

.more #Filter select {
	width: 108px;
	margin-right: 20px;
}

.more .Multi {
	float: none;
	padding-top: 10px;
	clear: both;
}

.more .Multi>dl {
	width: 40px;
	padding: 0;
	margin: 0;
	background: transparent;
	border-radius: 0;
	cursor: text;
	float: left;
	border: 0;
}

.more .Multi>dl>dt {
	color: #999;
}

.more .Multi>dl>dd {
	display: none;
}

.more .Multi>.Dn {
	position: static;
	background: transparent;
	border: 0;
	width: 298px;
	float: left;
}

.more .Multi>.Dn>label {
	display: inline;
	float: left;
	width: auto;
	margin-right: 10px;
}

#sellList {
	border-radius: 5px;
	background: #fff;
	padding: 10px;
	position: absolute;
	top: 117px;
	left: 10px;
	width: 366px;
	z-index: 960;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#sellList>h3 {
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	padding: 2px 0 8px;
	font-weight: normal;
}

#sellList i.noData {
	font-size: 14px;
	position: relative;
	top: 10px;
	text-align: center;
	display: block;
}

.noDaTip {
	position: absolute;
	top: 10px;
	left: 405px;
	height: 100px;
	width: 400px;
	z-index: 999;
}

.noDaTip b {
	height: 16px;
	width: 11px;
	position: absolute;
	top: 17px;
	left: 0;
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ 
		no-repeat -92px -151px;
}

.noDaTip i {
	color: #fff;
	text-align: left;
	padding-left: 15px;
	font-size: 16px;
	line-height: 50px;
	background: #333;
	filter: Alpha(opacity = 85);
	opacity: .85;
	margin-left: 11px;
	height: 50px;
	width: 380px;
	border-radius: 5px;
	display: block;
}

#sellList .sortw {
	position: absolute;
	top: -10px;
	right: 10px;
	height: 18px;
	line-height: 42px;
	font-size: 12px;
}

#sellList .sortw i {
	margin-left: 10px;
	cursor: pointer;
}

#sellList .sortw i.iconfont {
	margin-left: 0;
}

#sellList .sortw i:hover, #sellList .sortw .act {
	color: #e84a01;
}

#sellList>div {
	overflow-y: auto;
	overflow-x: hidden;
}

#sellList>div>dl {
	height: 38px;
	line-height: 38px;
	border-top: 1px solid #ddd;
	padding: 0 20px 0 0;
	background: transparent url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ 
		no-repeat right -626px;
	clear: both;
	cursor: pointer;
}

#sellList>div>dl:hover {
	background-color: #f7f7f7;
}

#sellList>div>dl>dt {
	font-weight: bold;
	float: left;
}

#sellList>div>dl>dt>i {
	font-weight: normal;
	margin-left: 10px;
	font-size: 12px;
	color: #666;
}

#sellList>div>dl>dd {
	color: #666;
	float: right;
}

#sellList>div>.Sb {
	margin: 20px 0;
}

#sellList>div>.info {
	position: relative;
	background: transparent;
	height: 95px;
	line-height: 24px;
	padding: 15px 20px 0 5px;
	cursor: default;
	float: left;
	width: 340px;
}

#sellList>div>.info dt>a.hPic {
	width: 80px;
	height: 80px;
	overflow: hidden;
	text-align: center;
}

#sellList>div>.info>img {
	width: 134px;
	height: 80px;
	margin-left: -27px;
}

#sellList>div>.info a.all {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 350px;
	height: 100%;
	z-index: 10;
}

#sellList>div>.info a.til {
	position: relative;
	z-index: 15;
	width: 190px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	line-height: 18px;
}

#sellList>div>.info a.til:hover {
	color: #e84a01;
}

#sellList>div>.info .tj {
	position: absolute;
	width: 40px;
	height: 41px;
	background: url("../img/tj.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/img/tj.png*/ no-repeat;
}

#sellList>div>.info .dj {
	width: 40px;
	height: 41px;
	background: url("../img/soleS2.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/img/soleS2.png*/ no-repeat;
}

#sellList>div>.info .videoBtn {
	width: 34px;
	height: 34px;
	margin: -17px 0 0 -17px;
}

#sellList>div>.info .iconfont {
	font-size: 48px;
}

#sellList>div>.info .inf {
	position: relative;
	margin: -2px 0 0 10px;
	height: 82px;
	width: 250px;
}

#sellList>div>.info .inf h4 {
	font-size: 14px;
	line-height: 18px;
	height: 20px;
}

#sellList>div>.info .inf .prr {
	font-size: 18px;
	color: #e84a01;
}

#sellList>div>.info .inf .Cb {
	line-height: 18px;
	color: #666;
	font-size: 14px;
	width: 100%;
	margin-top: 12px;
}

#sellList>div>.info .inf .Cb .ll {
	color: #ccc;
}

#sellList>div>.info .inf .Cb i.Gray {
	margin-left: 10px;
}

#sellList>div>.info .inf .Cb .iconfont {
	font-size: 18px;
}

#sellList>div>.info .inf .Cb.Fe {
	position: absolute;
	font-size: 12px;
	bottom: 0;
	margin: 0;
	width: 230px;
}

#sellSwitch {
	color: #666;
	height: 30px;
	line-height: 26px;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 960;
	padding: 3px 10px 0 10px;
	font-size: 14px;
}

#sellSwitch .iconfont {
	margin-right: 3px;
}

#sellSwitch:hover {
	text-decoration: none;
	border-color: #bbb;
	background: #e84a01;
	border-color: #e84a01;
	color: #fff;
}

#Tab {
	position: absolute;
	bottom: -11px;
	left: 163px;
	width: 60px;
	height: 20px;
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ 0 -322px;
	cursor: pointer;
}

#Tab:hover {
	background-position: 0 -342px;
}

#Tab.h {
	background-position: 0 -362px;
}

#Tab.h:hover {
	background-position: 0 -382px;
}

.msg {
	display: none;
	position: absolute;
	z-index: 9;
	padding: 30px 40px;
	border-radius: 5px;
	color: #666;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.msg .Close, .info .Close {
	position: absolute;
	top: 4px;
	right: 4px;
}

.msg .Close:hover, .info .Close:hover {
	background-position: -15px -471px;
}

.point1, .point2>.num, .point2>.name, .mark, .remark {
	color: #fff;
	font: 12px/15px Hei, \5fae\8f6f\96c5\9ed1;
	text-align: center;
	padding: 22px 0 0;
	cursor: pointer;
}

.point2 {
	margin: -24px 0 0 -24px;
	text-align: center;
}

.point2>.num {
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ 
		no-repeat 0 -220px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	padding: 0;
}

.point2:hover>.num, .point2.over>.num {
	background-position: 0 -271px;
}

.point2>.name {
	display: inline-block;
	margin-top: 4px;
	background: #00a282;
	border-radius: 3px;
	padding: 0 4px;
	height: 20px;
	line-height: 20px;
}

.point2:hover>.name, .point2.over>.name {
	background: #e84a01;
}

.point3, .point4 {
	color: #fff;
	background: #00a282;
	height: 23px;
	font: 12px/23px Hei, \5fae\8f6f\96c5\9ed1;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	position: relative;
}

.point3>.num, .point4>.num {
	padding: 0 6px;
}

.point3>.name, .point4>.name {
	display: none;
	position: absolute;
	top: 0;
	border-radius: 0 3px 3px 0;
	background: #fff;
	color: #000;
	padding: 0 6px;
}

.point3>.arrow, .point4>.arrow {
	width: 8px;
	height: 8px;
	margin: 0 auto;
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ -96px
		-96px;
	position: relative;
	display: block;
	top: 0;
	left: 0;
}

.point3:hover, .point3.over, .point4:hover, .point4.over {
	background: #e84a01;
	border-radius: 3px 0 0 3px;
}

.point3:hover>.name, .point3.over>.name, .point4:hover>.name, .point4.over>.name
	{
	display: inline;
}

.point3:hover>.name>span, .point3.over>.name>span, .point4:hover>.name>span,
	.point4.over>.name>span {
	color: #666;
	padding-left: 3px;
}

.point3:hover>.arrow, .point3.over>.arrow, .point4:hover>.arrow, .point4.over>.arrow
	{
	background-position: -96px -107px;
}

.point4 {
	background: #6ea89d;
}

.point4>.arrow {
	background-position: -96px -140px;
}

.zoomBtn {
	color: #666;
	width: 18px;
	height: 70px;
	line-height: 20px;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
	position: absolute;
	right: 20px;
	bottom: 50px;
	z-index: 960;
	padding: 0 8px;
	font-size: 12px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-user-select: none;
}

.zoomBtn p {
	border-top: 1px solid #DAD7D7;
	height: 1px;
	width: 25px;
	margin: 7px 0 5px -4px;
}

.zoomBtn a {
	font-size: 30px;
	display: block;
}

.zoomBtn a:hover {
	color: #999;
	text-decoration: none;
}

.zoomBtn #bzoom {
	margin: 10px 0 0 0;
}

.zoomBtn #szoom {
	font-size: 52px;
	line-height: 10px;
}

.dot {
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ -87px
		-119px;
	position: absolute;
	width: 17px;
	height: 17px;
	top: -8px;
	left: -8px;
}

.sites {
	font: 12px/23px Hei, \5fae\8f6f\96c5\9ed1;
	color: #333;
	height: 36px;
	cursor: pointer;
	position: absolute;
	top: -40px;
	left: -25px;
}

.sites>i {
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ 
		no-repeat 0 -478px;
	display: inline-block;
	position: relative;
	height: 35px;
	vertical-align: top;
	text-indent: -22px;
	line-height: 26px;
}

.sites>.l {
	background-position: 0 -408px;
	width: 32px;
}

.sites>.r {
	background-position: right -556px;
	padding: 0 9px 0 25px;
	color: #e84a01;
}

.sites:hover>i, .sites.act>i {
	background-position: 0 -516px;
	color: #fff;
}

.sites:hover>.l, .sites.act>.l {
	background-position: 0 -442px;
}

.sites:hover>.r, .sites.act>.r {
	background-position: right -595.5px;
}

.remark {
	height: 16px;
	line-height: 16px;
	cursor: default;
	margin: 8px 0 0 -22px;
	padding: 0;
	text-align: center;
	width: 45px;
	background: url("bg/sellmap.png")
		/*tpa=http://resource.iwjw.com/2.2/cache/css/bg/sellmap.png*/ 
		no-repeat -59px -220px;
}

.Pop.PopBeta {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	min-width: 300px;
}

.PopBeta p.Tc {
	padding-top: 30px;
}

.PopBeta p i {
	font-size: 30px;
	line-height: 46px;
}

.PopBeta p i b {
	padding-right: 10px;
	font-size: 36px;
}

.PopBeta a.closed {
	display: block;
	background: #e84a01;
	height: 50px;
	line-height: 50px;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 18px;
}

.PopBeta a.closed:hover {
	text-decoration: none;
	background: #f16d2f;
}